<mat-toolbar>
    <mat-toolbar-row class="d-flex justify-content-between mat-elevation-z4">
        <div class="d-flex align-items-center">
            <a mat-icon-button [routerLink]="['/']" (click)="docActive = false">
                <mat-icon color="primary">home</mat-icon>
            </a>
        </div>
        <h1>Of Games and Open Developments</h1>
        <div class="d-flex align-items-center">
            <a [routerLink]="['/docs']" (click)="docActive = true">Docs</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="mat-typography mat-app-background">
    <three-engine worker-path="./assets/worker.js" running canvas>
        <three-renderer alpha antialias #renderer>
            <div class="h-line"></div>
            <div class="v-line"></div>
        </three-renderer>
        <three-scene background="#000000" active>
            <three-camera far="10000000">
                <three-vec3 key="position" x="10" y="500" z="-10"></three-vec3>
                <three-vec3 key="lookAt" x="-10" y="-2" z="10"></three-vec3>
            </three-camera>
            <ogod-system aspects="action" bindings="action#" tick (translator)="toggleTranslator()"
                (docs)="toggleDocs()">
                <ogod-keys [active]="!(focus | async)">
                    <ogod-key code="KeyF" name="interact"></ogod-key>
                </ogod-keys>
            </ogod-system>
            <three-shader-glow id="glow"></three-shader-glow>
            <voxel-resource id="voxel" path="assets/voxel-atlas.png"></voxel-resource>
            <three-light-hemisphere color="0xeeeeff" ground-color="0x777788" intensity="0.75"></three-light-hemisphere>
            <!-- <ngo-interact-cube id="docs" action="docs" tick [active]="!docActive">
                <three-material-ball color="#084887"></three-material-ball>
                <three-geometry type="Box" args="8 8 8"></three-geometry>
                <three-vec3 key="position" x="500" y="300" z="500"></three-vec3>
                <three-vec3 key="rotator" x="1.2" y="1" z="0.5"></three-vec3>
            </ngo-interact-cube> -->
            <ngo-interact-cube id="transator" action="translator" tick>
                <three-material-ball color="#C879FF"></three-material-ball>
                <three-geometry type="Box" args="8 8 8"></three-geometry>
                <three-vec3 key="position" x="-10" y="0" z="10"></three-vec3>
                <three-vec3 key="rotator" x="0.5" y="1" z="1.2"></three-vec3>
            </ngo-interact-cube>
            <ngo-stars></ngo-stars>
            <three-object id="tie_fighter" path="assets/tie_fighter/tie_fighter.gltf" type="2">
                <three-vec3 key="position" x="-200" y="0" z="50"></three-vec3>
                <three-vec3 key="scale" x="50" y="50" z="50"></three-vec3>
            </three-object>
            <three-control-fly movement-speed="0.1" [active]="!(focus | async)" tick></three-control-fly>
            <router-outlet></router-outlet>
        </three-scene>
        <voxel-world tick>
            <!-- <button mat-button (click)="scale = scale + 1">INCR SCALE</button> -->
            <!-- <button mat-button (click)="scale = scale - 1">DECR SCALE</button> -->
        </voxel-world>
    </three-engine>
</div>