<three-mesh id="ball" tick>
    <three-material-ball></three-material-ball>
    <three-geometry type="Box" args="8 8 8"></three-geometry>
    <three-vec3 key="position" x="0" y="40" z="0"></three-vec3>
    <three-vec3 key="rotator" x="1.5" y="1" z="0.5"></three-vec3>
</three-mesh>
<three-object id="tie_fighter" path="assets/tie_fighter/tie_fighter.gltf" type="2">
    <three-vec3 key="position" x="-200" y="0" z="50"></three-vec3>
    <three-vec3 key="scale" x="50" y="50" z="50"></three-vec3>
</three-object>
